td
{
    inline-size: 150px;
    word-break: break-all;
}
.cell
{
    vertical-align: middle;
    display: table-cell;
}
#button
{
    margin-bottom: -17px;
}
#date
{
    padding-left: 20px;
    padding-right: 20px;
}
